.paralax__layer
	img.paralax__pic(src="assets/img/paralax/Layer_1.png" alt="")
.paralax__layer
	img.paralax__pic(src="assets/img/paralax/Layer_2.png" alt="")
.paralax__layer
	img.paralax__pic(src="assets/img/paralax/Layer_3.png" alt="")
.paralax__layer
	img.paralax__pic(src="assets/img/paralax/Layer_4.png" alt="")
.paralax__layer
	img.paralax__pic(src="assets/img/paralax/Layer_5.png" alt="")
.paralax__layer
	img.paralax__pic(src="assets/img/paralax/Layer_6.png" alt="")
.paralax__layer
	img.paralax__pic(src="assets/img/paralax/Layer_7.png" alt="")
.paralax__layer
	img.paralax__pic(src="assets/img/paralax/Layer_8.png" alt="")
.paralax__layer
	img.paralax__pic(src="assets/img/paralax/Layer_9.png" alt="")
.paralax__layer
	img.paralax__pic(src="assets/img/paralax/Layer_10.png" alt="")