.main-title_blog {
  color: #fff;
  padding: 70px 115px 100px;
  margin-top: -60px;
  margin-bottom: -80px;
  background-position: center center;

  &:before, &:after {
    background-color: #fff;
    top: 100px;
}
  $padding: 60px;

  &:before {
    left: $padding;
  }
  &:after {
    right: $padding;
  }
}