.sidebar {
  width: 410px/1800px * 100%;
  @extend %left;

  @include tablet {
    float: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 100;
    transform: translateX(-100%);
    transition: 0.5s;

    &_open {
      transform: translateX(0);
    }
  }
  @include phone {
    &:after {
      right: -9px;
    }
  }
}

.blog-menu {
  text-align: right;

  @include tablet {
    @include centered(y);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $green-light;
    z-index: 10;
  }
}
.blog-menu__item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
.blog-menu__link {
  display: inline-block;
  padding: 14px 17px;
  padding-left: 10px;
  border-right: 3px solid transparent;
  text-decoration: none;
  color: $gray;
  &:hover {
    border-right-color: $green-light ;
    color: $green-light;
  }
  &_active {
    border-right-color: $green-light ;
    color: $green-light;
  }

  @include tablet {
    color: rgba(#fff, .7);

    &:hover {
      color: #fff;
    }

    &_active {
      color: #fff;
      @include roboto(bold);
    }

  }
}

.sidemenu-btn {
  display: block;
  width: 60px;
  height: 60px;
  background-color: $green-light;
  box-shadow: 0 0 3px 3px rgba(#000, .2);
  border-radius: 50%;
  position: absolute;
  @include centered(y);
  right: -15px;
  cursor: pointer;

  &_disabled {
    display: none;

    @include tablet {
      display: block;
    }
  }
}