.paralax {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.paralax__layer {
  height: 100%;
  min-width: 100%;
  position: absolute;

  img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}