-
	contacts = [
	{
	title: 'Kosianchuk_ds',
	icon: 'skype',
	link: 'skype:kosianchuk_ds?call'
	},
	{
	title: 'Kosianchuk.d@gmail.com',
	icon: 'envelope',
	link: 'mailto:kosianchuk.d@gmail.com?call'
	},
	{
	title: '+38-095-445-72-04',
	icon: 'phone',
	link: 'skype:kosianchuk_ds?call'
	},
	{
	title: 'Киев, ул. Дмитровская, 75',
	icon: 'map_marker',
	link: '#'
	}
	]

section.l-contacts
	.map#map
		//img(src="assets/img/userfiles/map.jpg")
	.contacts
		.contacts__title.block-title контакты
		ul.contacts__list
			each contact in contacts
				li.contacts__item
					a.contacts__link(href= contact.link)
						svg.contacts__icon
							use(xlink:href=`assets/img/sprite/sprite.svg#${contact.icon}`)
						.contacts__text= contact.title